html, body {
    margin: 0;
    padding: 0;
    background: #357a7c;
}

.outer-wrapper {
    display: table;
    width: 100%;
    font-family: sans-serif;
    background: #f7f7f7;
}

.header-wrapper{
    display: table;
    width: 100%;
    height: 100%;
    background: #d77979;
}

.header-wrapper .top-links{
    display: table;
    width: 100%;
    height: 10px;
    background: #405d1d;
}

.header-wrapper .top-links .links{
    display: table;
    width: 950px;
    height: 100%;
    font-size: 0;
    margin: auto;
    background: #7ba747;
}

.header-wrapper .top-links .links .l-buttons{
    display: table;
    width: 40px;
    height: 8px;
    border-top-style: solid;
    border-width: 2px;
    float: right;
}

.lb-color1{
    background: #54cd08;
    border-color: #99d274;
}

.lb-color2{
    background: #99d274;
    border-color: #54cd08;
}

.right-space{
    margin-right: 40px;
}

.header-wrapper .header{
    display: table;
    width: 950px;
    height: 60px;
    margin: auto;
    background: #534040;
}

.header-wrapper .header .title{
    display: table;
    height: 100%;
    margin-left: 80px;
    background: #f30606;
    float: left;
}

.header-wrapper .header .title h1{
    margin: 0;
    margin-top: 13px;
}

.header-wrapper .header .links{
    width: 450px;
    /*height: 40px;*/
    margin-top: 40px;
    margin-right: 40px;
    /*background: #968686;*/
    float: right;
}

.header-wrapper .header .links .hl-buttons{
    display: table;
    min-width: 40px;
    height: 16px;
    padding: 2px 5px 2px;
    margin: 2px 2px 0;
    font-size: 13px;
    border-bottom-style: solid;
    border-width: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #e3d7d7;
    color: #a68b8b;
    background: #342c2c;
    text-align: center;
    float: right;
}

.content-wrapper{
    display: table;
    margin: auto;
    height: 100%;
    background: #9bbad3;
}

.content-wrapper .content{
    display: table;
    width: 790px;
    height: 300px;
    padding: 30px 60px 30px;
    background: #1d40b3;
    float: left;
}

.content-wrapper .content p{
    text-align: justify;
}

.content-wrapper .content h2{
    display: table;
    margin: 18px 0 18px;
    background: #0854d7;
    float: left;
}

.content-wrapper .content h4{
    display: table;
    margin: 43px 15px 0;
    background: #1e67e6;
    float: right;
}

.content-wrapper .content .line{
    display: table;
    width: 100%;
    height: 2px;
    background: #05255b;
}

.content-wrapper .right-menu{
    display: table;
    width: 40px;
    height: 100%;
    background: #273776;
    float: left;
}

.content-wrapper .right-menu .rm-buttons{
    display: table;
    width: 36px;
    height: 40px;
    border-right-style: solid;
    border-width: 4px;
    float: left;
}

.top-space{
    margin-top: 20px;
}

.rmb-color1{
    background: #424df5;
    border-color: #242db7;
}

.rmb-color2{
    background: #242db7;
    border-color: #424df5;
}
