html, body {
    margin: 0;
    padding: 0;
    background: #357a7c;
}

a {
    text-decoration: none;
}

.outer-wrapper {
    display: table;
    width: 100%;
    /*font-family: sans-serif;*/
    background: #f7f7f7;
}

.header-wrapper{
    display: table;
    width: 100%;
    height: 100%;
    background: #174363;
}

.header-wrapper .top-links{
    display: table;
    width: 100%;
    height: 10px;
    background: #486a97;
}

.header-wrapper .top-links .links{
    display: table;
    width: 950px;
    height: 100%;
    font-size: 0;
    margin: auto;
    /*background: #7ba747;*/
}

.header-wrapper .top-links .links .l-buttons{
    display: table;
    width: 40px;
    height: 8px;
    border-top-style: solid;
    border-width: 2px;
    float: right;
    transition:all 0.2s;
}

.tpl-positon1{
    display: table;
    transition:all 0.2s;
}

.tpl-positon1:hover{
    display: table;
    height: 200px;
}

.lb-color1{
    background: #255088;
    border-color: #12a519;
}

.lb-color2{
    background: #375480;
    border-color: #afb9c5;
}

.lb-color1:hover{
    background: #4b84ce;
    border-color: #30e83a;
}

.lb-color2:hover{
    background: #5e83ba;
    border-color: #e1e5ea;
}

.right-space{
    margin-right: 40px;
}

.header-wrapper .header{
    display: table;
    width: 950px;
    height: 60px;
    margin: auto;
    /*background: #534040;*/
}

.header-wrapper .header .title{
    display: table;
    height: 100%;
    margin-left: 80px;
    /*background: #f30606;*/
    float: left;
}

.header-wrapper .header .title h1{
    margin: 0;
    margin-top: 13px;
}

.header-wrapper .header .links{
    width: 450px;
    /*height: 40px;*/
    margin-top: 40px;
    margin-right: 40px;
    /*background: #968686;*/
    float: right;
}

.header-wrapper .header .links .hl-buttons{
    display: table;
    min-width: 40px;
    height: 16px;
    padding: 2px 5px 2px;
    margin: 2px 2px 0;
    margin-left: 4px;
    /*font-size: 13px;*/
    border-bottom-style: solid;
    border-width: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #0f9d43;
    color: #d5dbe1;
    background: #21507c;
    text-align: center;
    float: right;
}

.header-wrapper .header .links .hl-buttons:hover{
    border-color: #11bb4f;
    color: #f0f2f4;
    background: #2b68a1;
}

.content-wrapper{
    display: table;
    margin: auto;
    height: 100%;
    background: #9bbad3;
}

.content-wrapper .left-menu{
    display: table;
    width: 15px;
    height: 100%;
    background: #e5e5e5;
    float: left;
}

.content-wrapper .left-menu .lm-buttons{
    display: table;
    width: 100%;
    height: 32px;
    padding-top: 8px;
    border-left-style: solid;
    border-width: 3px;
    float: left;
    font-size: 16px;
}

.lmb-color1{
    background: #dddddd;
    border-color: #0e4170;
    color: #191919;
}

.lmb-color2{
    background: #d0d1d1;
    border-color: #146ebc;
    color: #191919;
}

.lmb-color1:hover{
    background: #c6d1c6;
    border-color: #167d11;
    color: #0b4f6a;
}

.lmb-color2:hover{
    background: #ccd5cc;
    border-color: #0aa20a;
    color: #2873a8;
}

.content-wrapper .content{
    display: table;
    width: 775px;
    height: 1200px;
    /*height: 300px;*/
    padding: 30px 60px 30px;
    background: #eceded;
    float: left;
}

.content-wrapper .content p{
    text-align: justify;
    color: #333333;
}

.content-wrapper .content h2{
    display: table;
    margin: 18px 0 10px;
    padding-top: 7px;
    border-top-style: solid;
    border-width: 3px;
    border-color: #8aa6df;
    font-size: 35px;
    color: #19346b;
    /*background: #0854d7;*/
    float: left;
}

.content-wrapper .content h4{
    display: table;
    margin: 55px 15px 0;
    font-size: 18px;
    color: #5b79a3;
    /*background: #1e67e6;*/
    float: right;
}

.content-wrapper .content img{
    display: table;
    margin: 0 20px 10px;
    padding: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #e0e5ea;
}

.img-position-left{
    display: table;
    float: left;
}

.img-position-right{
    display: table;
    float: right;
}

.img-size1{
    width: 40%;
    height: auto;
}

.img-size2{
    width: 27%;
    height: auto;
}

.img-size3{
    width: 56%;
    height: auto;
}

.img-size4{
    width: 80%;
    height: auto;
}

.img-size5{
    width: 35%;
    height: auto;
}

.img-size6{
    width: 30%;
    height: auto;
}

.img-size7{
    width: 68%;
    height: auto;
}

.img-size8{
    width: 90%;
    height: auto;
}

.content-wrapper .content .line{
    display: table;
    width: 100%;
    height: 2px;
    background: #c9cfde;
}

.content-wrapper .content .hidden-space{
    display: table;
    margin: auto;
    width: 100%;
    height: 20px;
    text-align: center;
    /*background: #c67a56;*/
}

.more-margin{
    margin-top: 30px;
}

.content-wrapper .content .data{
    display: table;
    margin-right: 30px;
   /* background: #172895;*/
    color: #5784b1;
    font-size: 18px;
    float: right;
}

.content-wrapper .right-menu{
    display: table;
    width: 40px;
    height: 100%;
    background: #dee7de;
    float: left;
}

.content-wrapper .right-menu .rm-buttons{
    display: table;
    width: 36px;
    height: 39px;
    padding-top: 1px;
    border-right-style: solid;
    border-width: 4px;
    float: left;
}

.top-space{
    margin-top: 50px;
}

.rmb-color1{
    background: #d4dcd4;
    border-color: #49a630;
}

.rmb-color2{
    background: #cbd7cb;
    border-color: #4b793e;
}

/*.rmb-color1:hover{
    background: #c7d1c7;
    border-color: #469e2e;
}

.rmb-color2:hover{
    background: #c5d3c5;
    border-color: #49763d;
}*/

.space-one{
    display: table;
    margin: auto;
    width: 100%;
    height: 20px;
   /*background: #f27b45;*/
}

.space-two{
    display: table;
    margin: auto;
    width: 100%;
    height: 80px;
   /*background: #c67a56;*/
}

.footer-wrapper{
    display: table;
    width: 100%;
    height: 50px;
    background: #112f3b;
}

.footer-wrapper .down-links{
    display: table;
    margin: auto;
    width: 950px;
    height: 100%;
    text-align: right;
    background: /*#a85738*/;
}

.footer-wrapper .down-links p{
    margin: 0 20px 0;
    margin-top: 19px;
    font-size: 18px;
    color: #30647c
}
